/* CSS version 3.0 */
/* Copyright 2007, 2008, Matthias Andreas Benkard. */

/*-----------------------------------------------------------------------
 * This file is part of The Mulkblog Project.
 *
 * The Mulkblog Project is free software.  You can redistribute it and/or
 * modify it under the terms of the Affero General Public License as
 * published by Affero, Inc.; either version 1 of the License, or
 * (at your option) any later version.
 *
 * The Mulkblog Project is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * Affero General Public License for more details.
 *
 * You should have received a copy of the Affero General Public
 * License in the COPYING file that comes with The Mulkblog Project; if
 * not, write to Affero, Inc., 510 Third Street, Suite 225, San
 * Francisco, CA 94107 USA.
 *-----------------------------------------------------------------------
 */


#MAIN-TITLE {
  font-stretch: wider;
  font-variant: small-caps;
  text-align: center;
}

#MAIN-TITLE a {
  text-decoration: none;
}

#MAIN-SUBTITLE {
  text-align: center;
}

#MAIN-TITLE-BOX {
}

.JOURNAL-ENTRY-HEADER {
  font-size: x-small;
  color: #444;
  background-color: inherit;
  font-weight: lighter;
  text-align: left;
}

.JOURNAL-ENTRY > h2 {
  border-bottom: 2px solid #000;
  /* font-variant: small-caps; */
}

.JOURNAL-ENTRY > h2 > a {
  text-decoration: none;
}

.JOURNAL-ENTRY {
  border: 3px outset #666;
  color: #000;
  background-color: #f8f8e0;
  margin: 1em 0 0 0;
  padding: 0 0.3em 0 0.3em;
  text-align: justify;
}

.JOURNAL-ENTRY-BODY p {
  text-indent: 1em;
}

.JOURNAL-ENTRY-BODY blockquote {
  font-style: oblique;
}

img.JOURNAL-ENTRY-PORTRAIT {
  margin-right: 6px;
  margin-bottom: 6px;
  float: left;
}

.JOURNAL-ENTRY-FOOTER {
  font-size: small;
  padding-top: 0.5em;
  text-align: right;
  clear: both;
}

.JOURNAL-COMMENTS h2 {
  width: 80%;
}

.JOURNAL-COMMENT {
  margin-top: 1em;
  border: 1px solid #aaa;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.JOURNAL-COMMENT-HEADER {
  margin-bottom: 1em;
}

.JOURNAL-COMMENT-BODY {
  text-align: justify;
  text-indent: 1em;
}

.JOURNAL-COMMENT-BODY blockquote {
  font-style: oblique;
}

#WARNINGS {
  align: center;
  width: 100%;
}

.JOURNAL-WARNING {
  position: relative;
  left: 15%;
  width: 70%;
  border: 3px outset #666;
  color: #000;
  background-color: #ffd0c0;
  margin: 1em 0 0 0;
  padding: 0 0.3em 0 0.3em;
  text-align: justify;
}

.OLD-ENTRIES {
  border: 3px outset #666;
  color: #000;
  background-color: #e8e8e8;
  margin: 1em 0 0 0;
  padding: 0 0.3em 0 0.3em;
  text-align: justify;
}

table.OLD-ENTRY-TABLE {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 0 0.3em 0;
}

table.OLD-ENTRY-TABLE td {
  padding: 0.2em 0.4em 0.2em 0.4em;
  vertical-align: top;
  border: 1px solid #aaa;
  margin: 0 0 0 0;
}

a:link {
  color: #0c2db2;
}

a:visited {
  color: #38597f;
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #0c2db2;
}
